<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="//cdn.onesignal.com">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">

	<title>TopOne - Cổng game uy tín xanh chín hàng đầu</title>
	<!-- tạo shortcut trên đt -->
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff"> 
	<!-- place this in a head section -->
	<link rel="apple-touch-icon" href="touch-icon-iphone.png">
	<!-- place this in a head section -->
	<link href="splash.03ce1.png" rel="apple-touch-startup-image">

	<!--http://www.html5rocks.com/en/mobile/mobifying/-->
	<meta name="viewport"
				content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1,viewport-fit=cover"/>

	<!--https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">

	<!-- force webkit on 360 -->
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<!-- force edge on IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="msapplication-tap-highlight" content="no">

	<!-- force full screen on some browser -->
	<meta name="full-screen" content="yes"/>
	<meta name="x5-fullscreen" content="true"/>
	<meta name="360-fullscreen" content="true"/>
	
	<!-- force screen orientation on some browser -->
	<meta name="screen-orientation" content="<%=orientation%>"/>
	<meta name="x5-orientation" content="<%=orientation%>">

	<!--fix fireball/issues/3568 -->
	<!--<meta name="browsermode" content="application">-->
	<meta name="x5-page-mode" content="app">

	<!--<link rel="apple-touch-icon" href=".png" />-->
	<!--<link rel="apple-touch-icon-precomposed" href=".png" />-->

	<link rel="stylesheet" type="text/css" href="style-mobile.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript">
		var noSleep = new NoSleep();
		noSleep.enable();
	</script>
	<script type="text/javascript">
		if ('serviceWorker' in navigator) {
		  navigator.serviceWorker.register('/service-worker.js', { scope: '/' }).then(function(reg) {
			if(reg.installing) {
			  console.log('Service worker installing');
			} else if(reg.waiting) {
			  console.log('Service worker installed');
			} else if(reg.active) {
			  console.log('Service worker active');
			}
		  }).catch(function(error) {
			// registration failed
			console.log('Registration failed with ' + error);
		  });
		}
	</script>

</head>
<body>

	<!-- Yêu cầu người dùng xoay ngang màn hình -->
	<div id="popup_1" class="full_popup">
		<p>Vui lòng xoay ngang màn hình để có trải nghiệm game tốt nhất!</p>
	</div>
	<div id="clear_cache_but" style="display:block;position: fixed;
		top: 20%;
		right: 6px;
		z-index: 2;
		background: black;
		padding: 5px;
		color: #fff;
		border: 1px solid #c7c7c7;
		font-size: 0.7em;">
		<p>TẢI LẠI GAME</p>
		<script type="text/javascript">
			jQuery(document).ready(()=>{
				$('#clear_cache_but').slideDown("slow");
				setTimeout(()=>{
					$('#clear_cache_but').slideUp("slow");
				}, 4000);
				$('#clear_cache_but').click(()=>{
					window.location.reload(true);
				});
			});
		</script>
	</div>
	<div id="ios_guild_but">
		<p>Hướng dẫn cài đặt game cho IOS</p>
	</div>
	<style type="text/css">
		.full_popup{display: none;position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000000cf;
		z-index: 1;}
		#popup_1 p{font-size: 2em;
		margin: 1em;}
		#ios_guild_but{display:none;position: fixed;
		top: 10%;
		right: 6px;
		z-index: 2;
		background: black;
		padding: 5px;
		color: #fff;
		border: 1px solid #c7c7c7;
		font-size: 0.7em;}
		#popup_2{text-align: center;
		background: #000;padding:20px 0;z-index: 3;overflow: scroll;color: #fff;font-size: 1.7em;}
		#splash{background-size: 100% auto;}
	</style>
	<script type="text/javascript">
		var is_iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
		// có để đúng chiều ngang đt ko?
		var is_right_orientation = false;
		jQuery(document).ready(($)=>{
			if($(window).width() < $(window).height()){
				is_right_orientation = false;
				$('#popup_1').show();
			} else {
				is_right_orientation = true;
				$('#popup_1').hide();
			}

			$(window).resize(window_resize1);

			if(is_iOS){
				$('#ios_guild_but').slideDown("slow");
				setTimeout(()=>{
					$('#ios_guild_but').slideUp("slow");
				}, 4000);
			}

			$('#ios_guild_but').click(()=>{
				$('#popup_2').toggle();
			});
			$('#popup_2').click(()=>{
				$('#popup_2').hide();
			});
		});

		function window_resize1(){
			let $ = jQuery;
			if($(window).width() < $(window).height()){
				$('#popup_1').show();
			} else {
				$('#popup_1').hide();
			}

			// Mobile bị xoay ngang khiến chiều dọc dài hơn chiều ngang kể cả khi đã quay ngang màn hình rồi
			if( $('#Cocos2dGameContainer').css('transform') === 'rotate(90deg)' )
				$('#Cocos2dGameContainer').css('transform', 'rotate(0deg)');
			
			// Nếu ban đầu để sai, chiều dọc, rồi mới quay đúng sang ngang thì cần reload lại
			if(!is_right_orientation && $(window).width() > $(window).height())
				location.reload();

		}
	</script>
	
	<canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
	<div id="splash">
		<div class="progress-bar stripes">
			<span style="width: 0%"></span>
		</div>
	</div>

	<script type="text/javascript">
	var setFullWidthMobileInterval;
	function SetWidthCanvasMobile(){
		var $ = jQuery;
		// Mặc định thì canvas trên mobile đã fullscreen rồi
		// Nhwngg trên các màn hình vuông như ipad thì hiển thị lỗi
		// alert("w width: "+$(window).width()+", height: "+$(window).height()+", ratio: "+($(window).width()/$(window).height()));
		if($(window).width()/$(window).height() < 1.4){
			// set full width, height thì theo tỉ lệ * 1.6 với width
			setFullWidthMobileInterval = setInterval(()=>{
				if($('#splash').is(":visible"))
					return;
				clearInterval(setFullWidthMobileInterval);

				$('#GameCanvas').width( $(window).width() );
				$('#GameCanvas').height( $(window).width()/1.6 );

				// alert("w width: "+$('#GameCanvas').width()+", height: "+$('#GameCanvas').height()+", ratio: "+($('#GameCanvas').width()/$('#GameCanvas').height()));
			}, 1000);

		}
	}
	// SetWidthCanvasMobile();   thất bại - thay đổi kích thước GameCanvas làm sai tọa độ các nút bấm
  </script>
<script src="src/settings.js" charset="utf-8"></script>
<!-- <%=webDebugger%> -->
<script src="main.js" charset="utf-8"></script>

<script type="text/javascript">
(function () {
		// open web debugger console
		if (typeof VConsole !== 'undefined') {
				window.vConsole = new VConsole();
		}

		var splash = document.getElementById('splash');
		splash.style.display = 'block';

		var cocos2d = document.createElement('script');
		cocos2d.async = true;
		cocos2d.src = window._CCSettings.debug ? 'cocos2d-js.js' : 'cocos2d-js-min.js';

		var engineLoaded = function () {
				document.body.removeChild(cocos2d);
				cocos2d.removeEventListener('load', engineLoaded, false);
				window.boot();
		};
		cocos2d.addEventListener('load', engineLoaded, false);
		document.body.appendChild(cocos2d);
})();
</script>

<!-- tạo shortcut trên đt -->
<script type="text/javascript">
 if ('serviceWorker' in navigator) {
		console.log("Will the service worker register?");
		navigator.serviceWorker.register('../service-worker.js')
			.then(function(reg){
				console.log("Yes, it did.");
		 }).catch(function(err) {
				console.log("No it didn't. This happened:", err)
		});
 }
</script>
</body>
</html>
